@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Chakra+Petch:wght@300;400;500;600&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital@0;1&family=Orbitron:wght@400;500;600;700;800;900&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Rajdhani:wght@500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: url("../images/bg-bottom.svg") bottom left no-repeat, url("../images/bg-top.svg") top right no-repeat, hsl(240, 78%, 98%);
  color: hsl(232, 13%, 33%);
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.attribution {
  text-align: center;
}

ul {
  list-style: none;
}

.gray-text {
  color: hsl(234, 14%, 74%);
}

.monthly {
  display: none;
}

.flex {
  display: flex;
}

.btn {
  outline: 0;
  border: 0;
  padding: 1em;
  border-radius: 0.6em;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 2px;
  transition-property: color, border-color;
  transition-duration: 0.4s;
}

.primary-btn {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

.primary-btn:hover {
  color: hsl(232, 13%, 33%);
  background: white;
  border-color: hsl(232, 13%, 33%);
}

.secondary-btn {
  background: white;
  color: hsl(232, 13%, 33%);
}

.secondary-btn:hover {
  color: white;
  border-color: white;
  background: hsl(237, 63%, 64%);
}

/* ######toggle####### */
#ckPricing {
  display: none;
}

.toggle-bar {
  display: flex;
  align-items: center;
  gap: 1em;
}

.toggle-button {
  display: block;
  width: 80px;
  height: 50px;
  position: relative;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 40px;
  cursor: pointer;
}

.toggle-button:hover {
  filter: brightness(1.3);
}

.toggle-button::before {
  content: "";
  position: absolute;
  height: 40px;
  aspect-ratio: 1;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border-radius: 50%;
  transition-property: transform, left;
  transition-duration: 0.2s;
}

#ckPricing:checked + .toggle-button::before {
  left: calc(100% - 5px);
  transform: translate(-100%, -50%);
}

/* ###box### */
.box {
  text-align: center;
  background: white;
  padding: 2em;
  border-radius: 0.7em;
  box-shadow: 0 12px 17px hsl(234, 14%, 74%);
}
.box h3 {
  margin-bottom: 1em;
}
.box > * + * {
  margin-top: 2.5em;
}
.box ul li {
  padding: 1.2em 0;
}
.box ul li {
  border-top: 1px solid hsl(234, 14%, 74%);
}
.box ul li:last-child {
  border-bottom: 1px solid hsl(234, 14%, 74%);
}
.box .price {
  font-size: 3.5em;
}
.box .dollar {
  margin-right: 0.2em;
  font-size: 0.65em;
  vertical-align: top;
}
.box .btn {
  display: block;
  width: 100%;
}

.box.active {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

/* #############price section############ */
#prices {
  width: 1050px;
  max-width: 1050px;
}

#top {
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
  -webkit-margin-after: 4em;
          margin-block-end: 4em;
}
#top h2 {
  font-size: 2em;
}
#top > * + * {
  margin-top: 2.5em;
}

#boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
#boxes .box {
  flex: 1 0 auto;
}

@media (min-width: 40em) {
  #boxes {
    flex-direction: row;
    gap: 0;
    align-items: center;
  }
  #boxes .box.active {
    padding: 3em;
    margin-inline: -10px;
    z-index: 999;
  }
}/*# sourceMappingURL=style.css.map */